.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between; /* Spread status and button */
    align-items: center;
    width: 100%; /* Ensures it fills the container width */
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #004080; /* Dark Blue for border */
  }
  
  .status {
    font-size: 1.5rem;
  }
  
  .connected {
    background-color: #e0f7fa; /* Light Blue */
    color: #006699; /* Text Darker Blue */
  }
  
  .disconnected {
    background-color: lightgrey; /* Light Red */
    color: grey; /* Text Dark Red */
  }
  
  .toggle-button {
    background-color: #004080; /* Button Blue */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    background-color: #006699; /* Lighter Blue */
  }
  