<mat-toolbar class="toolbar">
  <app-header></app-header>
</mat-toolbar>
@if (this.isConnected){
  <mat-tab-group>
    <mat-tab label="Now"><app-now></app-now></mat-tab>
    <mat-tab label="History"><app-history></app-history></mat-tab>
  </mat-tab-group>
}
@else{
  <div class="container">
    <div class="content">
        <h1 class="title">Glucose</h1>
        <h2 class="subtitle">Recover from injuries faster</h2>
        <p class="description">Our device tracks an injured athlete's movement and gives them the advice they would get from a world-class physical therapist. Put on your smart Glucose sleeve now to start gaining insights into your recovery!</p>
        <a href="#" class="cta-button">Learn More</a>
    </div>
    <img class="image" src="/api/placeholder/400/320" alt="Glucose device">
  </div>
}
