<div class="page">
    <div class="row">
        <mat-icon fontIcon="smart_toy" class="icon"></mat-icon>
        <div class="bubble left">{{response}}</div>
    </div>
    <div class="row">
        <mat-icon fontIcon="architecture" class="icon"></mat-icon>
        <plotly-plot [data]="rangeGraph.data" [layout]="rangeGraph.layout" [divId]="'rangehistory'" class="graph"></plotly-plot>
        <mat-icon fontIcon="fitness_center" class="icon"></mat-icon>
        <plotly-plot [data]="effortGraph.data" [layout]="effortGraph.layout" [divId]="'efforthistory'" class="graph"></plotly-plot>
    </div>
</div>
