.page {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    flex-direction: column;
    overflow: auto; /* Allow scrolling only when necessary */
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Keep items aligned at the start */
    gap: 10px; /* Reduced gap for fitting more items */
    width: 100%;
    max-width: 95vw;
    margin: 10px 0; /* Reduced margin for fitting more items */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px; /* Reduced padding for fitting more items */
}

.graph {
    flex: 1;
    min-width: 150px; /* Decreased min-width for fitting more items */
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: stretch;
    }

    .graph {
        max-width: 100%;
        margin-top: 10px; /* Reduced margin for fitting more items */
    }
}

.bubble {
    --r: 1em;  /* the radius */
    --t: 1.5em; /* the size of the tail */
    
    max-width: 90%;
    padding: 1em;
    border-inline: var(--t) solid #0000;
    border-radius: calc(var(--r) + var(--t))/var(--r);
    mask: 
      radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%) 
        var(--_p) 100%/var(--t) var(--t) no-repeat,
      linear-gradient(#000 0 0) padding-box;
    background: lightblue border-box;
    color: #000000;
  }
  .left {
    --_p: 0;
    border-bottom-left-radius: 0 0;
    place-self: start;
  }