<div class="page">
    <div class="row">
      <mat-icon fontIcon="architecture" class="icon"></mat-icon>
      <div class="plotly-container">
        <plotly-plot [data]="angleGraph.data" [layout]="angleGraph.layout" [divId]="'angle'"></plotly-plot>
      </div>
    </div>
    
    <div class="row combined-graphs">
      <div class="plotly-container">
        <plotly-plot [data]="rangeGraph.data" [layout]="rangeGraph.layout" [divId]="'range'"></plotly-plot>
      </div>
      <div class="plotly-container">
        <plotly-plot [data]="fatigueGraph.data" [layout]="fatigueGraph.layout" [divId]="'fatigue'"></plotly-plot>
      </div>
      <div class="counter-container">
        <div class="counter-card">
          <mat-card-title>Sets</mat-card-title>
          <mat-card-content>
            <p>{{ this.sets }}</p>
          </mat-card-content>
        </div>
        <div class="counter-card">
          <mat-card-title>Reps</mat-card-title>
          <mat-card-content>
            <p>{{ this.reps }}</p>
          </mat-card-content>
        </div>
      </div>
    </div>
  
    <div class="row">
      <mat-icon fontIcon="fitness_center" class="icon"></mat-icon>
      <div class="plotly-container">
        <plotly-plot [data]="effortGraph.data" [layout]="effortGraph.layout" [divId]="'effort'"></plotly-plot>
      </div>
    </div>
    
    <div class="row heart-rate-plot">
        <mat-icon fontIcon="favorite" class="icon"></mat-icon>
        <div class="heartbeat-container">
          <div class="plotly-container">
            <plotly-plot [data]="bpmGraph.data" [layout]="bpmGraph.layout" [divId]="'bpm'"></plotly-plot>
          </div>
          <div class="heart-rate-container">
            <mat-icon fontIcon="favorite" style="color: red;"></mat-icon>
            <div class="bpm-display">{{ bpm }} BPM</div>
          </div>
        </div>
      </div>      
  </div>
  