<div class="page">
    <div class="row">
        <mat-icon fontIcon="architecture" class="icon"></mat-icon>
        <plotly-plot [data]="angleGraph.data" [layout]="angleGraph.layout" [divId]="'angle'" class="graph"></plotly-plot>
        <plotly-plot [data]="rangeGraph.data" [layout]="rangeGraph.layout" [divId]="'range'" class="graph"></plotly-plot>
    </div>
    <br>
    <div class="row">
        <mat-icon fontIcon="fitness_center" class="icon"></mat-icon>
        <plotly-plot [data]="effortGraph.data" [layout]="effortGraph.layout" [divId]="'effort'" class="graph"></plotly-plot>
        <plotly-plot [data]="fatigueGraph.data" [layout]="fatigueGraph.layout" [divId]="'fatigue'" class="graph"></plotly-plot>
    </div>
    <!-- Set and Rep Counter Display -->
    <div class="row set-rep-counter">
        <div class="set-counter">
            <mat-card class="counter-card">
                <mat-card-title>Sets</mat-card-title>
                <mat-card-content>
                    <p>{{ sets }}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="rep-counter">
            <mat-card class="counter-card">
                <mat-card-title>Reps</mat-card-title>
                <mat-card-content>
                    <p>{{ reps }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <mat-icon fontIcon="favorite" class="icon"></mat-icon>
        <plotly-plot [data]="bpmGraph.data" [layout]="bpmGraph.layout" [divId]="'bpm'" class="graph"></plotly-plot>
        <div class="set-counter">
            <mat-card class="counter-card">
                <mat-card-title>BPM</mat-card-title>
                <mat-card-content>
                    <p>{{ sets }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
