/* In your global styles or component-specific styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: rgba(173, 216, 230, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
html { 
    // transform: scale(0.9); /* Scale down to 90% */ 
    // transform-origin: top left; /* Set the origin point for scaling */ 
    // width: 111.11%; /* Adjust the width to prevent clipping */ 
} 